<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/settings.css" />
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
    <script src="../js/main.js" defer></script>
    <script src="../js/settings.js" defer></script>
    <script src="../js/run.js" defer></script>
    <title>oops something broke</title>
  </head>
  <body>
    <section id="settings"></section>
    <img id="img-title" src="../img/cerolingobm-title.svg" alt="" />
    <section id="buttons-section">
      <div class="buttons">
        <div id="create-account" class="button">
          <div class="button-text">Create<br />Account(s)</div>
          <div class="button-settings">
            <img src="../img/settings.svg" alt="" />
          </div>
        </div>
        <div id="farm" class="button">
          <div class="button-text">Farm<br />Xp</div>
          <div class="button-settings">
            <img src="../img/settings.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="buttons">
        <div id="manage-accounts" class="button">
          <div class="button-text">Manage<br />Accounts</div>
        </div>
        <div class="button">
          <div class="button-text">Soon</div>
        </div>
      </div>
    </section>

    <div class="selfpromo">
      <a
        class="github"
        href="https://github.com/ancym0n"
        target="_blank"
        rel="noopener"
      >
        ancym0n
        <img src="../img/github-mark-white.svg" alt="" />
      </a>
    </div>
  </body>
</html>
