@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap");

* {
  margin: none;
  padding: none;
  --background-color: #7b93ff;
  --border-color: #6877ff;
  --title-color: #e7ecff;
  --text-color: #a1b2ff;
  --highlight-color: #b3d0ff;
  transition: all 0.3s;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
p,
a,
div,
label,
input {
  font-family: "Dongle", sans-serif;
  color: var(--title-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
